.livroiniciodoados {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    h2 {
        color: black;
        font-size: 32px;
    }
}

.sectionlivro{
    width: 95vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    section {
        width: 15%;
        height: 40vh;
        border: solid 3px #0312bc;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
       
    
        div {
            text-align: center;
            p{
                color: black;
                text-align: justify;
            }
            
        }
    } 
}

